.card{
    width: 10rem;
    display: inline-block;
    height: 15rem;
    margin: 10px;
    overflow: hidden;
    
    .card-title{
        margin: 0px;
        font-size: 15px;
    }

    .truncate {
        width: 7rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
}


